<main class="container">

  <section class="card">
    <div class="card-header">
      Discentes
    </div>
    <ul>
      <% Discente.all.each do |discente| %>
        <li>
          <%= link_to discente.nome, discente %>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="card">
    <div class="card-header">
      Disciplinas
    </div>
    <ul>
      <% Disciplina.all.each do |disciplina| %>
        <li>
          <%= link_to disciplina.nome, disciplina %>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="card">
    <div class="card-header">
      Docentes
    </div>
    <ul>
      <% Docente.all.each do |docente| %>
        <li>
          <%= link_to docente.nome, docente %>
        </li>
      <% end %>
    </ul>
  </section>

</main>