<h1>Editando Disciplina</h1>

<%= render 'form', disciplina: @disciplina %>

<div class="flex-start">
  <%= link_to '< Voltar para disciplinas', docentes_path, class: 'back-button' %>
  <%= link_to 'Visualizar disciplina', @disciplina, class: 'edit-button' %>
</div>