<h1>Editando Docente</h1>

<%= render 'form', docente: @docente %>

<div class="flex-start">
  <%= link_to '< Voltar para docentes', docentes_path, class: 'back-button' %>
  <%= link_to 'Visualizar docente', @docente, class: 'edit-button' %>
</div>
