<h1>Editando Identidade</h1>

<%= render 'form', identidade: @identidade %>

<div class="flex-start">
  <%= link_to '< Voltar para identidades', identidades_path, class: 'back-button' %>
  <%= link_to 'Visualizar identidade', @identidade, class: 'edit-button' %>
</div>
